.containerFluid{  /*reusable selector*/
  max-width: 850px;
  padding: 125px 10px 0;
  min-height: 100vh;
  margin: auto;
}
.row{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.column{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.headtxt{
  font-size: x-large;
  font-weight: 600;
  color: #333333;
}
.subheadtxt{
  font-size: large;
  font-weight: 600;
  color: #333333;
}
.txt{
  font-size: medium;
  font-weight: 500;
  color: #333333;
}
.card{
  background-color: #F4F4F4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 25px;
}


.side{
  max-width: 315px;
  width: 100%;
  padding-right: 10px;
}


.candidateDetail{
  max-width: 515px;
  width: 100%;
  padding-left: 10px;
}
.candidateDetail > .card .row{margin-bottom: 20px;}
.candidateDetail > .card .row:last-child{margin: 0;}