.container{
    margin: 0;
    padding: 10px;
}

.card{
    background-color: #fff;
    height: auto;
    width: 600px;    
    margin: 10px auto;    
    border-radius: 10px;
    padding-bottom: 40px;
}

.card_body{
    display: flex;
    box-sizing: border-box;
    height: auto;
    justify-content: center;
}

.card_form{
    width: 65%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}


.button{
    width: 130px;
    height: 40px;
    background: #6EADE8;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #fafafa;
}

.button:hover{
    cursor: pointer;
    opacity: 0.6;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #5096D7;
}

.titleDesc{
    text-align: center;
    margin-top: -20px;
    color: dimgray;
    font-size: small;
}

.containerForm{
    margin-top: 50px;
}

.containerForm label{
    color: #5096D7;
    font-weight: bold;
    font-size: 18px;
    /* line-height: 21px; */
}

.input{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;    
    box-sizing: border-box;    
    padding: 12px 10px;
    border: 1px solid #909090;    
}

.input:focus{
    border: 2px solid #5096D7;
}

.labelCommitte{
    margin-top: 50px;
}

.containerIcon{        
    margin-top: 10px;    
}

.containerIcon img:hover{
    opacity: 0.7;
    cursor: pointer;
}

.pictureContainer{
    margin-top: 20px;
}

.pictureContainer .pInfo{
    color: #909090;
    font-weight: 500;
    font-size: 15px;
}

.pictureContainer input{
    margin-top: 10px;
}

.pInfoCheck{
    color: #909090;
    font-weight: 400;
    font-size: 13px;
}

.btn{  
    background: #6EADE8;    
    border: none;
    border-radius: 5px;
    padding: 10px 35px;
    color: #fff;  
    font-weight: bold;    
}

.btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

.btnContent{
  padding-top: 20px;
}


@media screen and (max-width: 600px){
    .card{
        width: 90%; 
    }

    .card_form{
        width: 95%;
        border-radius: 10px;
    }
}