.containerFull{
    margin: 0;
    padding: 0;
}

.containerFluid{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    padding: 0 30px;
}

.column1{
    margin-right: 10px;
    /* background: #F4F4F4; */
    border: 1px solid rgba(0, 0, 0, 0.213);    
    border-radius: 5px;
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
}.bg{width: 100%;}

.column1 .txtCol{
    color: dimgray;
    font-weight: 500;
    font-size: 16px;    
    padding: 12px 0;
    padding-left: 30px;
    box-sizing: border-box;
}
p.txtCol{margin: 0;}

.column1 .txtCol:hover{
    cursor: pointer;
    background: rgba(144, 144, 144, 0.1);
    box-shadow: inset 3px 0px 0px #5096D7;
    box-sizing: border-box;   
}

.column2{    
    border: 1px solid rgba(0, 0, 0, 0.309);
    /* box-sizing: border-box; */
    border-radius: 5px;
    width: 500px;
    padding: 30px;    
}

@media screen and (max-width: 760px){
    .containerFluid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px auto;
        padding: 10px;
    }

    .column1{
        width: 100%;
        margin-right: 0px;        
    }

    .column2{
        margin-top: 10px;
        width: 100%;                
    }
}