.containerFluid{
  width: 100%;
  padding: 75px 25px 0;
}

.containerForm{
  padding: 30px;
  background-color: #F4F4F4;
  max-width: 500px;
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding-bottom: 40px;
  margin-top: 60px; margin-bottom: 60px;
}

.input{
  width: 100%;
  border-radius: 5px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 0px;
  padding-left: 10px;
  border: 1px solid #909090;
  color: #909090;
  background: #FAFAFA;
  margin-top: 10px;
  outline: none;
  font-weight: 600;
  font-size: x-large;
  line-height: 28px;
  text-align: center;
}

.input:focus{border: 2px solid #5096D7;background-color: #fff; color: #333333}

.box{width: 48%;}
.box .input{
  width: 100%;
  font-weight: 500; font-size: large;
}

.box .input:focus{border: 2px solid #5096D7;background-color: #fff; color: #333333;}

.candidateImg{display: flex;justify-content: center;}

.candidateImg > .imgThumb{
  max-width: 150px; min-width: 150px;
  max-height: 150px; min-height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.candidateImg .imgThumb:hover{cursor: pointer; border: 1px solid #5096D7;}
.candidateImg .imgCam:hover{cursor: pointer; opacity: 0.8;}
.candidateImg .imgCam{margin-top:  115px;margin-left: -35px;}

.containerForm .candidateDetail{
  margin-top: 5%;
}

.flexForm1{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
}

.box label{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #5096D7;
}

.vision{margin-top: 10px;}
.vision label{font-weight: bold;font-size: 24px;}
textarea.textarea{
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #909090;
  color: #909090;
  background: #FAFAFA;
  margin-top: 10px;
  resize:vertical;
  min-height: 40px;
  outline: none;
  font-weight: 500;
  font-size: large;
}
.textarea:focus{
  border: 2px solid #8aabca;
  background-color: #fff;
  color: #333333
}

.mision{margin-top: 10px;}
.mision label{font-weight: bold; font-size: 24px;}
.mision .input{font-weight: 500; font-size: large; text-align: start;}
.Btn{ 
  width: 100%; 
  margin-top: 15px; 
  padding: 8px 0px; 
  font-weight: 600; 
  font-size: medium;
  border: 2px solid #5096D7;
  background-color: #fff; 
  color: #5096D7;
  border-radius: 9px;
  cursor: pointer;
}.Btn:hover{box-shadow: 0px 0px 100px inset  rgba(0, 0, 0, 0.04);}

.submitCandidate > .Btn {width: auto; padding: 10px 14px; color: #fff; background-color: #6EADE8;}

@media screen and (max-width: 900px){
  .containerFluid{padding: 65px 30px 0;}
  .column{
    width: 85%;
    margin-left: -5px;
    margin-top: 30px;
  }
  .flexForm1{
    flex-wrap: wrap;
    text-align: start;
  }
  .box{ margin-top: 10px; width: 100%; justify-content: flex-start;}
}

@media screen and (max-width: 500px){
  .containerFluid{
    flex-wrap: wrap;
  }

  .column1{
    width:  375px;
    margin-left: -5px;
  }

  .column2{
    width: 85%;
    margin-left: -5px;
    margin-top: 30px;
  }

}