.containerFull{padding: 0;margin: 0; padding-bottom: 30px;}

.containerFluid{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    margin-top: 150px;
}

.column1{
    background-color: #F4F4F4;
    width: 350px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    position: relative;
   
}

.column2{
    background-color: #F4F4F4;
    width: 500px;
    margin-left: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding-bottom: 15px;
}

.containerForm{padding: 30px;}

.input{
    width: 100%;
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #909090;
    color: #909090;
    background: #FAFAFA;
    margin-top: 10px;;
    
}

.input:focus{border: 2px solid #5096D7;background-color: #fff;}

.box .input{
    width: 95%;
    border-radius: 5px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #909090;
    color: #909090;
    background: #FAFAFA;
    margin-top: 10px;
    
}

.box .input:focus{border: 2px solid #5096D7;background-color: #fff;}
.containerIcon{display: flex;justify-content: center;margin-top: 10px;}
.containerIcon img:hover{opacity: 0.6;cursor: pointer;}

.containerSubmit{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 60px;
}

.submit{
    width: 120px;
    height: 40px;
    background-color: #6EADE8;
    color: #FAFAFA;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

.submit:hover{opacity: 0.7; cursor: pointer;}
.candidateImg{display: flex;justify-content: center;}

.candidateImg > .imgThumb{
    max-width: 125px; min-width: 125px;
    max-height: 125px; min-height: 125px;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }

.candidateImg .imgThumb:hover{cursor: pointer;}
.candidateImg .imgCam:hover{cursor: pointer; opacity: 0.7;}
.candidateImg .imgCam{margin-top:  95px;margin-left: -35px;}

.containerForm .candidateDetail{
    margin-top: 5%;
}

.flexForm1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}

.box label{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #5096D7;
}

.vision{margin-top: 10px;}
.vision label{font-weight: bold;font-size: 24px;}
.mision{margin-top: 10px;}

.mision label{font-weight: bold; font-size: 24px;}


.textarea{
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #909090;
    color: #909090;
    background: #FAFAFA;
    margin-top: 10px;
}

.textarea:focus{
    border: 2px solid #5096D7;
    background-color: #fff;
}

@media screen and (max-width: 600px){
    .containerFluid{
        flex-wrap: wrap;
    }

    .column1{
        width: 375px;
        margin-left: -5px;
    }

    .column2{
        width: 85%;
        margin-left: -5px;
        margin-top: 30px;
    }

}
